# Node.js
# node_modules 
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Python
venv/
.venv/
__pycache__/
*.py[cod]
.env

# Java
*.class
target/
build/
out/
.gradle/

# Sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
.idea/